shapely
numpy
matplotlib
pandas
geopandas
#netCDF4
tyro
requests
gradio
gradio-image-prompter
scikit-image
trimesh
scikit-learn
torch
torchvision
torchaudio
labml-nn

gradio
scikit-learn
trimesh
opencv-python==4.10.0.84
lightning
pytorch_optimizer


# Versions that works for shape/height gen 
#torch==2.4.1
#torch-fidelity==0.3.0
#torchaudio==0.7.0
#torchmetrics==0.7.0
#torchvision==0.19.1
#pytorch-lightning==1.4.2
#pytorch-optimizer==3.2.0